

{king:portal.orders}
<table class="k_table_list" cellspacing="0" style="margin-bottom:10px;">
	<caption>订单号: {king:no/}  成交时间:{king:date formatdate="Y-m-d g:i:s A"/}</caption>
	<tr><td>
	<!-- content是数组类型,可以循环调用 -->
	{king:content}

		{king:portal.shop kid="(king:kid/)"}
			<a href="{king:path/}" target="_blank">{king:kid/}) {king:title/}</a>
		{/king:portal.shop}


		<br/>
	{/king:content}
	
	</td>
		<td><a href="index.php?action=orders_show&oid={king:oid/}">产品名称: {king:title/}</a></td>
		<td>产品数量: {king:number/}</td>
		<td>总费用: ￥{king:alltotal/} 元</td>
		<td>{king:status/}</td>
		<td class="w50 c"><a href="javascript:;" class="k_ajax" rel="{URL:'../portal/cart.php',CMD:'payment',oid:{king:oid/}}">详情</a></td>
	</tr>

</table>
{/king:portal.orders}

