/* ONEK.CN */
@charset "utf-8";
/* CSS Document */
html{color:#333;background:#FFF;}
body{}



.w_960{ width:960px; margin-left:auto; margin-right:auto; overflow:hidden;}
.w_700{ width:700px; overflow:hidden;}
.w_240{ width:240px; overflow:hidden;}
.w_340{ width:340px; overflow:hidden;}






.header{
	position:relative;
	height:65px;
	width:960px;
	margin:auto;
	}
.logo{
	width:140px;
	height:65px;
	background: url(logo.gif) no-repeat left top;
	position:absolute;
	left:0;
	top:0;
	
}
.logo h3{ display:none;}


.topnav{
	position:absolute;
	height:55px;
	right:0;
	top:0;
	padding:10px 80px 0 0;
	background: url(topnav.gif) no-repeat right top;
	text-align:right;
	}
.topnav a{ color:#333; padding:0 5px; line-height:30px;}
.topnav strong{ color:#333; font-size:12px; font-family:Verdana, Geneva, sans-serif; display:block; height:25px; line-height:25px;}
.topnav h3{ font-size:16px; color:#F30; display:inline;}









.topmenu{
	background: url(topmenu.gif) no-repeat left top;
	height:40px;
	line-height:40px;
	padding:0 10px;
	margin:0 auto 10px auto;
	width:940px;
	position:relative;
}
.topmenu ul{}
.topmenu ul li{
	float:left;
	width:100px;
	background: url(topmenu.gif) no-repeat right -120px;
	text-align:center;
}
.topmenu ul li a,.topmenu ul li a:visited,.topmenu ul li a:link{
	font-size:14px;
	color:#FFF;
	font-weight:bold;
	text-decoration: none;
	}
.topmenu ul li a:hover{ color:#FFF; font-weight:bold;}
	

.topmenu a.on ,.topmenu a.on:visited,.topmenu a.on:link{
	display:block;
	background: url(topmenu.gif) no-repeat left -40px;
	color:#333;
	width:100px;
	font-weight:bold;
}
.topmenu a.on:hover{}







.search{ width:206px; height:22px; position:absolute; right:20px; top:10px;}
.search_input{
	background: url(search.gif) no-repeat left top;
	width:120px;
	height:22px;
	border:none;
	line-height:22px;
	padding:0 10px 0 30px;
	float:left;
	font-size:12px;
	color:#666;
}
.search_btn{
	width:46px;
	height:22px;
	line-height:22px;
	background: url(search.gif) no-repeat right top;
	border:none;
	color:#FFF;
	font-size:12px;
	float:left;
	}





.nav{ color:#999; height:30px; line-height:30px;}
.nav strong{ padding:0 10px 0 0; font-weight:normal;}
.nav a{ color:#666; padding:0 10px;}






.contact_home{
	background: url(img_contact.jpg) no-repeat;
	width:200px;
	height:65px;
	margin-bottom:10px;
	line-height:18px;
	color:#BDD2E7;
	padding:80px 20px 10px 20px;
}
.contact_home span{ font-size:14px; color:#FFF; font-weight:bold;}






.leftmenu{ background-color:#E2EBF2; padding:10px;}
.leftmenu dt{
	background: url(leftmenu.gif) no-repeat left center;
	padding-left:20px;
	margin:0 10px;
	color:#000;
	font-size:12px;
	font-weight:bold;
	height:30px;
	line-height:30px;
}

.leftmenu dd{ margin-bottom:10px;}
.leftmenu dd a{ display:block; height:30px; line-height:30px; margin-bottom:1px; padding-left:30px; background-color:#FFF; color:#666;}
.leftmenu dd a.leftmenu_on{ background-color:#FF6600; color:#FFF; font-weight:bold;}









.list_1{}
.list_1 li{ position:relative; height:25px; line-height:25px; font-size:12px;}
.list_1 a{ color:#333;}
.list_1 span{ position:absolute; right:0; top:0; color:#999; font-size:11px;}



.list_2{}
.list_2 li{ position:relative;}
.list_2 a{ color:#333;}
.list_2 span{ position:absolute; right:0; top:0; color:#999; font-size:11px;}




.list_page{}
.list_page li{line-height:25px; font-size:12px; border-bottom:1px solid #E0E0E0; padding:10px;}
.list_page a{ color:#0099FF; font-size:14px; font-weight:bold;}
.list_page i{
	color:#CCC;
	font-size:12px;
	font-style: normal;
	padding-left:15px;
}
.list_page p{}



.list_img_1{}
.list_img_1 li{ float:left; margin:0 10px; text-align:center;}
.list_img_1 a{ color:#333; line-height:40px;}
.list_img_1 img{ display:block;}



.list_img_2{}
.list_img_2 li{ border-bottom:1px solid #DDD; padding-bottom:10px; margin-bottom:20px; height:120px;}
.list_img_2 h3 a{ color:#0099FF; font-size:14px; display:block; line-height:30px;}
.list_img_2 p{ font-size:12px; color:#333; line-height:20px;}
.list_img_2 strong{ color:#333; font-size:12px; display:block; line-height:25px;}
.list_img_2 img{ float:left; margin:0 15px 10px 0;}



/*__page--------------------------------------------------------------------------------------------*/
.page{ clear:both; font-size:14px; line-height:50px; height:50px;}
.page a{ margin:0 5px;color:#04D;}
.page a:hover{ color:#04D;}
.page strong{margin:0 5px;}
.page select{margin:0 5px;}




.list_ico_1 li{
	background: url(list_ico_1.gif) no-repeat left center;
	padding-left:15px;
}




.img_1{ padding:1px; border:1px solid #CCC;}






.f_1{ border:1px solid #E9E9E9; border-top:none;}
.f_1_a{border:1px solid #E9E9E9;}


.f_2{ border:4px solid #E2EBF2; border-top:none;}
.f_2_a{ border:4px solid #E2EBF2;}







.t_1{
	height:30px;
	line-height:30px;
	background-color:#125BB7;
	overflow:hidden;
	position:relative;
}
.t_1 div{background: url(t_1.gif) no-repeat right -90px;height:30px;overflow:hidden;}
.t_1 h3{ color:#FFF; font-size:12px; font-weight:bold; height:30px;
background: url(t_1.gif) no-repeat left 0px; padding-left:25px;display:block; float:left; margin-right:10px;}

.t_1 span{ color:#719DD4; font-size:12px; font-weight:bold;}

.t_1_more{ position:absolute; right:0; top:0; width:25px; height:30px; display:block;background: url(t_1.gif) no-repeat right -120px;text-indent:-8000px; overflow:hidden;}





.t_2{ height:30px; line-height:30px; position:relative; background-color:#E2EBF2; padding:0 10px;}
.t_2 h3{ color:#333;font-size:14px;}
.t_2_more{ position:absolute; right:10px; top:0;}



.tab_1_m{
	height:30px;
	line-height:30px;
	overflow:hidden;
	position:relative;
	background: url(t_1.gif) no-repeat right -90px;height:30px;overflow:hidden;
	background-color:#125BB7;

}
.tab_1_m div{}

.tab_1_m h3{ color:#FFF; font-size:12px; font-weight:bold; height:30px;
background: url(t_1.gif) no-repeat left 0px; padding-left:25px;display:block; float:left; margin-right:10px;}

.tab_1_m li{ float:left;background: url(t_1.gif) no-repeat right -60px; width:107px;height:30px; margin:0 5px; text-align:center; line-height:40px; overflow:hidden;}
.tab_1_m li a{ color:#FFF; font-size:12px;font-weight:bold;}

.tab_1_m li.now{background: url(t_1.gif) no-repeat right -30px;}
.tab_1_m li.now a{ color:#14365D;}
.tab_1_c div{ padding:10px; height:300px; overflow:hidden; width:680px;}








.tab_cp_m{}
.tab_cp_m li{ float:left; margin:0 7px 10px 0;}

.tab_cp_c{
	margin-bottom:10px;
}
.tab_cp_c div{ overflow:hidden; width:350px; height:280px;}






a.url_1,a.url_1:visited,a.url_1:link{ width:98px; height:25px;background: url(url_1.jpg) no-repeat; display:block; font-size:14px; text-align:center; line-height:25px; color:#FFF; font-weight:bold; border:none;}
a.url_1:hover{ color:#FF9;}




.input_1{ height:22px; border:1px solid #CCC; line-height:22px; padding:0 10px;}
.btn_1{width:98px; height:25px;background: url(url_1.jpg) no-repeat; display:block; font-size:14px; text-align:center; line-height:25px; color:#FFF; font-weight:bold; border:none;}
.btn_1:hover{ color:#FF9;}


/* Easy Slider */
#content{position:relative;	margin:0 auto 10px auto;width:960px;}
#slider{}
	#slider ul, #slider li{
		margin:0;
		padding:0;
		list-style:none;
		}
	#slider, #slider li{ 
		/* 
			define width and height of container element and list item (slide)
			list items must be the same size as the slider area
		*/ 
		width:960px;
		height:300px;
		overflow:hidden; 
		}
	span#prevBtn{}
	span#nextBtn{}					


#prevBtn {
	background-color:#333;
	width:40px;
	height:60px;
	display:block;
	background: url(slider.gif) no-repeat left top;
	overflow:hidden;
	text-indent:-8000px;
	position:absolute;
	top:100px;
	left:0px;
}
#nextBtn {
	background-color:#333;
	width:40px;
	height:60px;
	background: url(slider.gif) no-repeat left -60px;
	display:block;
	overflow:hidden;
	text-indent:-8000px;
	position:absolute;
	top:100px;
	right:0px;
}
#prevBtn a,#nextBtn a{	width:40px;
	height:60px;
	display:block;
}

/* // Easy Slider */














.foot{ position:relative; height:80px; border-top:2px solid #125BB7; clear:both; padding:10px 0; width:960px; margin:auto;}
.foot div{ position:absolute; left:180px; width:760px;}
.foot p{ color:#999; font-size:12px; float:left; border-right:1px solid #E5E5E5; padding:5px 15px;}


.logo_b{
	width:140px;
	height:65px;
	background: url(logo_b.gif) no-repeat left top;
	position:absolute;
	left:0;
	top:0;
	
}
.logo_b h3{ display:none;}













