<table>

<tr><th>主题</th><td>{king:title/}</td></tr>
<tr><th>副标题</th><td>{king:subtitle/}</td></tr>
<tr><th>缩略图</th><td>{king:image/}</td></tr>
<tr><th>内容</th><td>{king:content/}</td></tr>
<tr><th>META关键字</th><td>{king:keywords/}</td></tr>
<tr><th>TAG标签</th><td>{king:tag/}</td></tr>
<tr><th>META简述</th><td>{king:description/}</td></tr>
<tr><th>路径</th><td>{king:path/}</td></tr>
<tr><th>相关内容</th><td>{king:relate/}</td></tr>
<tr><th>优惠价</th><td>{king:price/}</td></tr>
<tr><th>数量</th><td>{king:number/}</td></tr>
<tr><th>重量</th><td>{king:weight/}</td></tr>


<tr><th>显示</th><td>{king:show/}</td></tr>
<tr><th>头条</th><td>{king:head/}</td></tr>
<tr><th>推荐</th><td>{king:commend/}</td></tr>
<tr><th>置顶</th><td>{king:up/}</td></tr>
<tr><th>焦点</th><td>{king:focus/}</td></tr>
<tr><th>热卖</th><td>{king:hot/}</td></tr>
<tr><th>市场价</th><td>{king:_Market/}</td></tr>
<tr><th>产品型号</th><td>{king:_Serial/}</td></tr>

<tr><th>购买</th><td><a href="javascript:;" class="k_ajax" rel="{URL:'{config:system.inst/}portal/cart.php',CMD:'buy',kid:{king:kid/},listid:{king:listid/}}">点击这里购买</a></td></tr>

</table>