<form name="form1" method="get" action="search.php">
	<p>
	关键字: <input type="text" class="k_in w200" name="query" value="{get:query/}"/>

	作者: <input type="text" class="k_in w150" name="_author" value="{get:_author/}"/>

	来源: <input type="text" class="k_in w150" name="_source" value="{get:_source/}"/>

	<p><input type="submit" value="搜索"/></p>

</form>

{king:portal.article type="search"}
	<p>{king:kid/} - <a href="{king:path/}">{king:title/}</a></p>
{/king:portal.article}

{king:portal.pagelist/}


