@charset "utf-8";
/* CSS Document */

.bbs_info{ background-color:#E2EBF2; padding:10px; position:relative; height:20px; line-height:20px;}
.bbs_info div{ position:absolute; right:10px; top:10px;}
.bbs_info div a{ padding:0 5px;}




.bbs_t_1{ height:30px; line-height:30px;}
.bbs_t_1 h2{ font-size:14px; color:#125BB7;}


.bbs_t_2{ height:45px; line-height:45px; font-size:14px; color:#999;}
.bbs_t_2 h1{ font-size:16px; color:#125BB7; display:inline;}




.bbs_bk{border-top:1px solid #E2EBF2;border-left:1px solid #E2EBF2;}
.bbs_bk th{
	background-image: url(bbs_bk.jpg);
	background-repeat: repeat-x;
	color:#FFF;
	font-weight:normal;
	height:30px;
	line-height:30px;
	overflow:hidden;
	padding:0 5px;
	border-right:1px solid #E2EBF2;
}
.bbs_bk tr{}
.bbs_bk td{ padding:5px 8px; border-bottom:1px solid #E2EBF2; border-right:1px solid #E2EBF2;}




.bbs_lb{
	border:1px solid #E2EBF2;
	border-bottom:none;
}
.bbs_lb th{
	background-image: url(bbs_bk.jpg);
	background-repeat: repeat-x;
	color:#FFF;
	font-weight:normal;
	height:30px;
	line-height:30px;
	overflow:hidden;
	padding:0 10px;
}
.bbs_lb tr{}
.bbs_lb td{ padding:5px 8px; border-bottom:1px solid #E2EBF2;}

.bbs_lb .over{ background-color:#E2EBF2;}
.bbs_lb .alt{}
	



a.bbs_url_1,a.bbs_url_1:visited,a.bbs_url_1:link{ color:#FFF; background-color:#3366BB; padding:5px 10px; font-size:14px; font-weight:bold; margin-right:10px;}
a.bbs_url_1:hover{ color:#FF9;}

a.bbs_url_2,a.bbs_url_2:visited,a.bbs_url_2:link{ color:#FFF; background-color:#99CC00; padding:5px 10px; font-size:14px; font-weight:bold; margin-right:10px;}
a.bbs_url_2:hover{ color:#FF9;}






.bbs_n{ border:1px solid #CFE1F0;}

.bbs_n1{ text-align:center; background-color:#F0F5F8; width:130px; padding:15px; line-height:20px;border-right:1px solid #CFE1F0;}
.bbs_n1 a{ display:block; }

.bbs_n2{ padding:15px;}
.bbs_n2{}


.bbs_n3{ padding:0 15px;border-bottom:1px solid #CFE1F0;}
.bbs_n3 a{ color:#0099FF; margin-right:15px; font-weight:bold;}

.bbs_n4{ padding:0 15px;font-weight:bold; font-size:12px; text-align:right;border-bottom:1px solid #CFE1F0;}
.bbs_n4 span{ color:#3366BA;}

.bbs_n5{ padding:0 15px;border-top:1px solid #CFE1F0;}
.bbs_n5 a{ font-weight:bold; margin:0 5px; color:#333;}




.bbs_f_1{ border:1px solid #CFE1F0; background-color:#F7FAFB;}
.bbs_f_2{ border:1px solid #CFE1F0; border-top:none;}


.btn_2{color:#FFF; background-color:#3366BB; padding:5px 10px; font-size:14px; font-weight:bold; margin-right:10px; border:none;}
.btn_3{color:#FFF; background-color:#777; padding:5px 10px; font-size:14px; font-weight:bold; margin-right:10px; border:none;}
