@charset "utf-8";
/*布局*/
.c_2{  padding:0 5px;
}




/*标题*/
.h1 {
	font-size:24px;
	color:#0099FF;
	line-height:160%;
	padding:5px;
	margin:5px;
	font-family:"微软雅黑", Arial, Helvetica, sans-serif;
	font-weight:normal;
}

/*表格*/
.table_content{ line-height:47px;}
.table_content tr{}
.table_content th{ background-color:#E8E8E8; text-align:right; width:100px; padding:0 5px; border-right:2px solid #FFF; border-bottom:2px solid #FFF;}
.table_content td{background-color:#F3F3F3; border-bottom:2px solid #FFF;}
.table_content img{ width:250px; height:190px; border:2px solid #50545E;}
.table_content strong{ font-weight:bold;}

/*作者*/
.author {
	font-size:12px;
	color:#666;
	height:30px;
	line-height:30px;
	margin:0 0 10px 0;
	padding:0 10px;
	border-bottom:1px solid #DBDBDB;
}
.author span {
	padding:0 25px 0 0;
	color:#666;
	font-weight:normal;
}


/*内容*/
.content {
	font-size:14px;
	margin:20px;
	color:#333333;
	line-height:200%;
	text-align:left;
	clear:both;
	word-wrap:break-word;

}
.content img{max-width: 500px;width:expression(width>500?"500px":width);}
.content p {
	margin-bottom:20px;
}

.content strong {
}
.content a {
	color:#0000FF;
	text-decoration: underline;
}
.content a:hover {
	text-decoration: none;
}
.content h1 {
	font-size:24px;
	font-weight: normal;
	padding:0px;
	margin:10px 0px;
}
.content h2 {
	font-size:22px;
	font-weight: normal;
	line-height:200%;
}
.content h3 {
	font-size:18px;
	font-weight: normal;
	line-height:200%;
}
.content h4 {
	font-size:16px;
	font-weight: normal;
	line-height:200%;
}
.content h5 {
	font-size:14px;
	line-height:200%;
}
.content h6 {
	font-size:12px;
	line-height:200%;
}
/*工具*/
.tool {
	font-size:12px;
	line-height:20px;
	height:20px;
	margin:10px 0;
	padding:10px 0 0 10px;
	overflow: hidden;
}
.tool ul {
	float:left;
}
.tool ul li {
	float:left;
	width:90px;
}
.tool .commentary, .tool .print, .tool .copy, .tool .email, .tool .close, .tool .rss_2, .tool .t_1, .tool .t_2, .tool .t_3 {
	background-image: url(tool.gif);
	background-repeat: no-repeat;
	background-position: left -20px;
	height:20px;
	line-height:20px;
	padding:0 0 0 25px;
	display:block;
	margin:0 10px 0 0;
	color:#333;
}
.tool .print {
	background-position: left -40px;
}
.tool .copy {
	background-position: left -80px;
}
.tool .email {
	background-position: left -100px;
}
.tool .close {
	background-position: left -60px;
}
.tool .rss_2 {
	background-position: left -120px;
}
.tool .t_1 {
	background-position: left -140px;
}
.tool .t_2 {
	background-position: left -160px;
}
.tool .t_3 {
	background-position: left -180px;
}



.updown{ font-size:14px; border-top:1px solid #E2EBF2;}
.updown strong{}
.updown p{}
.updown a{}















/*评论*/
#commentary{ padding:20px;background-color:#E2EBF2; line-height:200%;}
#commentary strong{ font-size:14px; color:#333333; display:block;}
#commentary span{ color:#0066CC; display:block; text-align:right;}
#commentary span a{}
#commentary span a:hover{
	text-decoration: underline;
}




.commentary_list{ padding:15px 15px 5px 15px;}
.commentary_list li{
	color:#1F3A87;
	list-style-type: none;
	border-bottom:1px dashed #DDD;
	margin-bottom:10px;
}
.commentary_list li span{ color:#666;}
.commentary_list li h6{
	font-style: normal;
	font-size:12px;
	font-weight:normal;
	color:#999;
}
.commentary_list li h6 em{
	text-align:right;
	float:right;
	font-size:12px;
	font-style: normal;
	color: #999999;
	
}

.commentary_list li h6 strong{ color:#F00; margin-right:10px;}




.commentary_list p{
	padding:10px;
	font-size:14px;
	line-height:150%;
	color:#333333;
	margin-bottom:10px;
	display:block;
	height:auto;
	padding-left:40px;
}
.commentary_list p span{ display:block; text-align:right; font-size:12px;}
.commentary_list p a{
	color:#1F3A87;
	text-decoration: underline;
	margin:0 2px;
}
.commentary_list p a:hover{
	color:#04d;
	text-decoration: none;
}
.commentary_list div{
	border:1px solid #CCC;
	margin:2px;
	padding:5px 5px 0 5px;
	height:1%;
	overflow: visible;
	display:block;
}
.commentary_list div ul{ margin:5px; padding:0;}
.commentary_list div ul li p{
	background-image: none;
	margin:0;
}
